<!DOCTYPE html>
<html lang="en" dir="ltr">

	<head>
	<meta charset="utf-8">

	<title>OSSU | Customer </title>

	<link rel="stylesheet" href="/css/login_signup.css">
	<link rel="icon" type="image/x-icon" href="/images/ossu-logo.png">
	
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

	</head>

	<body>
		<div class="bg-img">
			<div class="content" style="overflow: hidden">
				<header>Customer Registration</header>
				<!-- Add this where you want the error message to appear -->
				{{#if errorMessage}}
					<div class="error-box">
						{{errorMessage}}
					</div>
				{{/if}}
				<form action="/password-reset-3" method="post">
					<div class="field">
						<span class="fa fa-user">
                            <input type="text" value="{{username}}" name="username" readonly>
                        </span>
					</div>
					<a style="color: white;">{{secQ1}}</a>
					<br>
					<div class="field">
						<span class="fa fa-user"></span>
						<input type="text" required placeholder="Answer..." name="secQ1Ans" required>
					</div>
					<a style="color: white;">{{secQ2}}</a>
					<br>
                    <div class="field">
						<span class="fa fa-user"></span>
						<input type="text" required placeholder="Answer..." name="secQ2Ans" required>
					</div>
					
					<div class="field">
						<input type="submit" value="Register" name="submit">
					</div>
				</form>
				<br>
				<a href="/" class="return-home">Back to Home</a>
				<br>
				<a href="/staff-login" class="return-home">Already have an account?</a>
			</div>
		</div>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const passwordInput = document.querySelector(".pass-key");
			const showButton = document.querySelector(".show");
			
			showButton.addEventListener("click", function () {
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
			} else {
				passwordInput.type = "password";
			}
			});

			//const passwordChecker = document.getElementById('password');
			const minLength = document.getElementById('validatePL')
			const minLowercase = document.getElementById('validateLC')
			const minUppercase = document.getElementById('validateUC')
			const minNumeric = document.getElementById('validateNC')
		
			console.log(minLength.textContent);
			let timeoutId;

			passwordInput.addEventListener('input', () => {
				clearTimeout(timeoutId);
				timeoutId = setTimeout(() => {
					const password = passwordInput.value;

					//AJAX✅ 
					fetch('/validate-password', {
						method: 'POST',
						headers: { 'Content-Type': 'application/json'},
						body: JSON.stringify({ password })
					})
					.then(res => res.json())
					.then(data => {
						console.log(data.validated);
						const response = data.validated;
						///PL, LC, UC, NC
						if(response[0] == true) {minLength.textContent = "✅";}
						else {minLength.textContent = "❌";}

						if(response[1] == true) {minLowercase.textContent = "✅";}
						else {minLowercase.textContent = "❌";}

						if(response[2] == true) {minUppercase.textContent = "✅";}
						else {minUppercase.textContent = "❌";}

						if(response[3] == true) {minNumeric.textContent = "✅";}
						else {minNumeric.textContent = "❌";}
					})
				}, 300)
			})
		});

		


	</script>

	</body>
</html>
